<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/corona-archive.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/default.css')}}"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    {% block head %} {% endblock%}
  </head>

  <body>
    <section class="smart-scroll">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark">
          <a class="navbar-brand heading-black" href="/"> CORONA ARCHIVE </a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="logout-container" action="/logout">
              <button class="nav-item" type="submit">LOGOUT</button>
            </form>
          </div>
        </nav>
      </div>
    </section>

    {% block body %} {% endblock %}
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/script.js')}}"
    ></script>
  </body>
</html>
